{% extends "base.html" %}
{% block title %}Adicionar Produto{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="text-center">Adicionar Produto</h1>
        <form method="POST" action="{{ url_for('products.add_product') }}">
            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="code">Código:</label>
                <input type="text" id="code" name="code" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="quantity">Quantidade:</label>
                <input type="number" id="quantity" name="quantity" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="cost_price">Preço de Custo:</label>
                <input type="number" id="cost_price" name="cost_price" class="form-control" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="sale_price">Preço de Venda:</label>
                <input type="number" id="sale_price" name="sale_price" class="form-control" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="expiration_date">Data de Validade:</label>
                <input type="date" id="expiration_date" name="expiration_date" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Adicionar Produto</button>
        </form>
    </div>
</div>
{% endblock %}
