{% extends "base.html" %}
{% block title %}Relatório de Saídas{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <h1 class="text-center">Relatório de Saídas</h1>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for exit in exits %}
                    <tr>
                        <td>{{ exit.product.name }}</td>
                        <td>{{ exit.quantity }}</td>
                        <td>{{ exit.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center mt-3">
            <a href="{{ url_for('products.list_products') }}">Voltar para Produtos</a>
        </div>
    </div>
</div>
{% endblock %}
