{% extends "base.html" %}
{% block title %}Produtos{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <h1 class="text-center">Produtos</h1>
        <a href="{{ url_for('products.add_product') }}" class="btn btn-success mb-3">Adicionar Produto</a>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Código</th>
                    <th>Quantidade</th>
                    <th>Preço de Custo</th>
                    <th>Preço de Venda</th>
                    <th>Data de Validade</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.code }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.cost_price }}</td>
                        <td>{{ product.sale_price }}</td>
                        <td>{{ product.expiration_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
